.delete_button {
    position: relative;
    width: 40px;
    height: 15px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 60%;
      height: 2px;
      background-color: red;
      transform: translate(-50%, -50%);
      transition: transform 0.3s ease;
    }
    
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    
    &:hover::before,
    &:hover::after {
      transform: translate(-50%, -50%) scale(1.2) rotate(45deg);
    }
  }
  