.user_container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .user {
    width: 50px;
    height: 50px;
    background-color: #ccc;
  }

  
  .menu {
    background-color: #363062;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  color: #fff;
    margin: 0 auto;
    position: absolute;
    right: 10px;
    width: 200px;
    padding: 10px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s, visibility 0s linear 0.3s, transform 0.3s;
    li {
margin-bottom: 5px;
    }
  }
  
  .menu.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity 0.3s, visibility 0s, transform 0.3s;
  }